<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><span class="hide-menu">{{usuario.nombre}} </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a routerLinkActive="active" routerLink="/perfil">Perfil</a></li>
                        <li><a routerLinkActive="active" routerLink="/account-settings">Account Setting</a></li>
                        <li><a (click)="_usuarioService.logout()" class="pointer">Logout</a></li>
                    </ul>
                </li>
                <li class="nav-devider"></li>
                <li class="nav-small-cap">PERSONAL</li>

                <li *ngIf="usuario.role=='ADMIN_ROLE'">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-folder-lock-open"></i><span class="hide-menu">Administracion</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a routerLinkActive="active" routerLink="/usuarios">Usuarios </a></li>
                        <li><a routerLinkActive="active" routerLink="/estaciones">Estaciones</a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Estaciones</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li *ngFor="let estacion of estaciones">
                            <a routerLinkActive="active" routerLink="/graficas1">{{estacion.nombre}} </a>
                        </li>

                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false" [routerLink]="['/map']" routerLinkActive="router-link-active"><i class="mdi mdi-map"></i><span class="hide-menu">
                    Mapa</span>
                    </a>




                    <!-- <li *ngFor="let menu of _sidebar.menu">

                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false"><i [class]="menu.icono"></i><span class="hide-menu">{{ menu.titulo }}
                             <li *ngIf="menu.titulo=='Mapa'"><a routerLinkActive="active" [routerLink]="[menu.url]" routerLinkActive="active"></a></li> -->
                    <!-- <span class="label label-rouded label-themecolor pull-right">{{menu.length}}</span> -->
                    <!-- </span>
                </a>
                <ul aria-expanded="false" class="collapse">
                    <li *ngFor="let submenu of menu.submenu"><a routerLinkActive="active" [routerLink]="[submenu.url]" routerLinkActive="active"> {{submenu.titulo}} </a></li>
                </ul>
                </li> -->


                    <!-- <li> <a [routerLink]="['/map']" class="has-arrow waves-effect waves-dark" aria-expanded="false"><i class="mdi mdi-map"></i>Mapa </a></li> -->

            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->